{
  "openapi": "3.0.3",
  "info": {
    "title": "Lipoic API Docs",
    "version": "1.0.0",
    "description": "This is a REST API for Lipoic"
  },
  "servers": [
    {
      "url": "https://api.lipoic.org",
      "description": "Production server"
    },
    {
      "url": "http://localhost:8080",
      "description": "Internal server for testing"
    }
  ],
  "tags": [
    "Main",
    "Authentication",
    "User"
  ],
  "paths": {
    "/": {
      "get": {
        "tags": [
          "Main"
        ],
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "number",
                      "example": 0
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "example": "Hello, World!"
                        }
                      }
                    }
                  },
                  "xml": {
                    "name": "main"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "number",
                      "example": 0
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "example": "Hello, World!"
                        }
                      }
                    }
                  },
                  "xml": {
                    "name": "main"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/ip": {
      "get": {
        "tags": [
          "Main"
        ],
        "description": "Get the ip address of the client",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "number",
                      "example": 0
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "ip": {
                          "type": "string",
                          "example": "your ip"
                        }
                      }
                    }
                  },
                  "xml": {
                    "name": "main"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "number",
                      "example": 0
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "ip": {
                          "type": "string",
                          "example": "your ip"
                        }
                      }
                    }
                  },
                  "xml": {
                    "name": "main"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/authentication/google/url": {
      "get": {
        "tags": [
          "Authentication"
        ],
        "description": "Get google oauth url",
        "parameters": [
          {
            "name": "redirectUri",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "number",
                      "example": 0
                    },
                    "data": {
                      "$ref": "#/components/schemas/AuthURL"
                    }
                  },
                  "xml": {
                    "name": "main"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "number",
                      "example": 0
                    },
                    "data": {
                      "$ref": "#/components/schemas/AuthURL"
                    }
                  },
                  "xml": {
                    "name": "main"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "number",
                      "example": 2
                    }
                  },
                  "xml": {
                    "name": "main"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "number",
                      "example": 2
                    }
                  },
                  "xml": {
                    "name": "main"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "number",
                      "example": 2
                    }
                  },
                  "xml": {
                    "name": "main"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "number",
                      "example": 2
                    }
                  },
                  "xml": {
                    "name": "main"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/authentication/facebook/url": {
      "get": {
        "tags": [
          "Authentication"
        ],
        "description": "Get facebook oauth url",
        "parameters": [
          {
            "name": "redirectUri",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "number",
                      "example": 0
                    },
                    "data": {
                      "$ref": "#/components/schemas/AuthURL"
                    }
                  },
                  "xml": {
                    "name": "main"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "number",
                      "example": 0
                    },
                    "data": {
                      "$ref": "#/components/schemas/AuthURL"
                    }
                  },
                  "xml": {
                    "name": "main"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "number",
                      "example": 2
                    }
                  },
                  "xml": {
                    "name": "main"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "number",
                      "example": 2
                    }
                  },
                  "xml": {
                    "name": "main"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "number",
                      "example": 2
                    }
                  },
                  "xml": {
                    "name": "main"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "number",
                      "example": 2
                    }
                  },
                  "xml": {
                    "name": "main"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/authentication/google/callback": {
      "get": {
        "tags": [
          "Authentication"
        ],
        "description": "Get access token by google oauth code",
        "parameters": [
          {
            "name": "code",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "redirectUri",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "locale",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "number",
                      "example": 0
                    },
                    "data": {
                      "$ref": "#/components/schemas/AccessToken"
                    }
                  },
                  "xml": {
                    "name": "main"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "number",
                      "example": 0
                    },
                    "data": {
                      "$ref": "#/components/schemas/AccessToken"
                    }
                  },
                  "xml": {
                    "name": "main"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "number",
                      "example": 3
                    }
                  },
                  "xml": {
                    "name": "main"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "number",
                      "example": 3
                    }
                  },
                  "xml": {
                    "name": "main"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "number",
                      "example": 3
                    }
                  },
                  "xml": {
                    "name": "main"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "number",
                      "example": 3
                    }
                  },
                  "xml": {
                    "name": "main"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/authentication/facebook/callback": {
      "get": {
        "tags": [
          "Authentication"
        ],
        "description": "Get access token by facebook oauth code",
        "parameters": [
          {
            "name": "code",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "redirectUri",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "locale",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "number",
                      "example": 0
                    },
                    "data": {
                      "$ref": "#/components/schemas/AccessToken"
                    }
                  },
                  "xml": {
                    "name": "main"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "number",
                      "example": 0
                    },
                    "data": {
                      "$ref": "#/components/schemas/AccessToken"
                    }
                  },
                  "xml": {
                    "name": "main"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "number",
                      "example": 3
                    }
                  },
                  "xml": {
                    "name": "main"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "number",
                      "example": 3
                    }
                  },
                  "xml": {
                    "name": "main"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "number",
                      "example": 3
                    }
                  },
                  "xml": {
                    "name": "main"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "number",
                      "example": 3
                    }
                  },
                  "xml": {
                    "name": "main"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/user/info": {
      "get": {
        "tags": [
          "User"
        ],
        "description": "Get the info of the current user (authorization required)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "number",
                      "example": 0
                    },
                    "data": {
                      "$ref": "#/components/schemas/AuthUser"
                    }
                  },
                  "xml": {
                    "name": "main"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "number",
                      "example": 0
                    },
                    "data": {
                      "$ref": "#/components/schemas/AuthUser"
                    }
                  },
                  "xml": {
                    "name": "main"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "patch": {
        "tags": [
          "User"
        ],
        "description": "Update the info of the current user (authorization required)",
        "parameters": [],
        "responses": {
          "200": {
            "description": "The user info has been updated.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "number",
                      "example": 0
                    },
                    "data": {
                      "$ref": "#/components/schemas/User"
                    }
                  },
                  "xml": {
                    "name": "main"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "number",
                      "example": 0
                    },
                    "data": {
                      "$ref": "#/components/schemas/User"
                    }
                  },
                  "xml": {
                    "name": "main"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "number",
                      "example": 6
                    }
                  },
                  "xml": {
                    "name": "main"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "number",
                      "example": 6
                    }
                  },
                  "xml": {
                    "name": "main"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EditUserInfoData"
              }
            }
          }
        }
      }
    },
    "/user/info/{userId}": {
      "get": {
        "tags": [
          "User"
        ],
        "description": "Get the user info by user id",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "number",
                      "example": 0
                    },
                    "data": {
                      "$ref": "#/components/schemas/User"
                    }
                  },
                  "xml": {
                    "name": "main"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "number",
                      "example": 0
                    },
                    "data": {
                      "$ref": "#/components/schemas/User"
                    }
                  },
                  "xml": {
                    "name": "main"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "number",
                      "example": 5
                    }
                  },
                  "xml": {
                    "name": "main"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "number",
                      "example": 5
                    }
                  },
                  "xml": {
                    "name": "main"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/user/signup": {
      "post": {
        "tags": [
          "User"
        ],
        "description": "Sign up a new user via email and password",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success to sign up",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "number",
                      "example": 0
                    }
                  },
                  "xml": {
                    "name": "main"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "number",
                      "example": 0
                    }
                  },
                  "xml": {
                    "name": "main"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing required fields",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "number",
                      "example": 8
                    }
                  },
                  "xml": {
                    "name": "main"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "number",
                      "example": 8
                    }
                  },
                  "xml": {
                    "name": "main"
                  }
                }
              }
            }
          },
          "409": {
            "description": "The email has already been used",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "number",
                      "example": 7
                    }
                  },
                  "xml": {
                    "name": "main"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "number",
                      "example": 7
                    }
                  },
                  "xml": {
                    "name": "main"
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SignUpUserData"
              }
            }
          }
        }
      }
    },
    "/user/verify": {
      "get": {
        "tags": [
          "User"
        ],
        "description": "Verify the email account by the code",
        "parameters": [
          {
            "name": "code",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success to verify the email",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "number",
                      "example": 0
                    },
                    "data": {
                      "$ref": "#/components/schemas/AccessToken"
                    }
                  },
                  "xml": {
                    "name": "main"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "number",
                      "example": 0
                    },
                    "data": {
                      "$ref": "#/components/schemas/AccessToken"
                    }
                  },
                  "xml": {
                    "name": "main"
                  }
                }
              }
            }
          },
          "400": {
            "description": "The code is invalid or expired",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "number",
                      "example": 9
                    }
                  },
                  "xml": {
                    "name": "main"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "number",
                      "example": 9
                    }
                  },
                  "xml": {
                    "name": "main"
                  }
                }
              }
            },
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "number",
                  "example": 9
                }
              },
              "xml": {
                "name": "main"
              }
            }
          }
        }
      }
    },
    "/user/login": {
      "post": {
        "tags": [
          "User"
        ],
        "description": "Login via email and password",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success to login",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "number",
                      "example": 0
                    },
                    "data": {
                      "$ref": "#/components/schemas/AccessToken"
                    }
                  },
                  "xml": {
                    "name": "main"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "number",
                      "example": 0
                    },
                    "data": {
                      "$ref": "#/components/schemas/AccessToken"
                    }
                  },
                  "xml": {
                    "name": "main"
                  }
                }
              }
            }
          },
          "400": {
            "description": "The password is incorrect",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "number",
                      "example": 10
                    }
                  },
                  "xml": {
                    "name": "main"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "number",
                      "example": 10
                    }
                  },
                  "xml": {
                    "name": "main"
                  }
                }
              }
            },
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "number",
                  "example": 10
                }
              },
              "xml": {
                "name": "main"
              }
            }
          },
          "403": {
            "description": "The email has not been verified",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "number",
                      "example": 11
                    }
                  },
                  "xml": {
                    "name": "main"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "number",
                      "example": 11
                    }
                  },
                  "xml": {
                    "name": "main"
                  }
                }
              }
            }
          },
          "404": {
            "description": "The user is not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "number",
                      "example": 5
                    }
                  },
                  "xml": {
                    "name": "main"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "number",
                      "example": 5
                    }
                  },
                  "xml": {
                    "name": "main"
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginUserData"
              }
            }
          }
        }
      }
    },
    "/user/avatar": {
      "post": {
        "tags": [
          "User"
        ],
        "description": "Upload the avatar of the user (authorization required)",
        "parameters": [
          {
            "name": "avatarFile",
            "in": "formData",
            "required": true,
            "description": "The avatar file of the user",
            "schema": {
              "type": "file"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "The user avatar file is too large",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "number",
                      "example": 12
                    }
                  },
                  "xml": {
                    "name": "main"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "number",
                      "example": 12
                    }
                  },
                  "xml": {
                    "name": "main"
                  }
                }
              }
            },
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "number",
                  "example": 13
                }
              },
              "xml": {
                "name": "main"
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "User"
        ],
        "description": "Delete the user avatar (authorization required)",
        "parameters": [],
        "responses": {}
      }
    },
    "/user/{userId}/avatar": {
      "get": {
        "tags": [
          "User"
        ],
        "description": "Download the user avatar by user id",
        "produces": [
          "image"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success to download the avatar",
            "content": {
              "image/png": {}
            }
          },
          "404": {
            "description": "The user avatar is not found or not set",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "number",
                      "example": 14
                    }
                  },
                  "xml": {
                    "name": "main"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "number",
                      "example": 14
                    }
                  },
                  "xml": {
                    "name": "main"
                  }
                }
              }
            },
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "number",
                  "example": 5
                }
              },
              "xml": {
                "name": "main"
              }
            }
          }
        }
      }
    },
    "/classroom/": {
      "post": {
        "tags": [
          "Classroom"
        ],
        "description": "Create a new classroom",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Create a new classroom successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "number",
                      "example": 0
                    }
                  },
                  "xml": {
                    "name": "main"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "number",
                      "example": 0
                    }
                  },
                  "xml": {
                    "name": "main"
                  }
                }
              }
            }
          },
          "400": {
            "description": "The classroom description is too long.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "number",
                      "example": 15
                    }
                  },
                  "xml": {
                    "name": "main"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "number",
                      "example": 15
                    }
                  },
                  "xml": {
                    "name": "main"
                  }
                }
              }
            },
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "number",
                  "example": 18
                }
              },
              "xml": {
                "name": "main"
              }
            }
          },
          "403": {
            "description": "The user's email was not verified.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "number",
                      "example": 16
                    }
                  },
                  "xml": {
                    "name": "main"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "number",
                      "example": 16
                    }
                  },
                  "xml": {
                    "name": "main"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateClassroomData"
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "APIResponse": {
        "type": "object",
        "required": [
          "code"
        ],
        "properties": {
          "code": {
            "$ref": "#/components/schemas/ResponseStatusCode"
          },
          "data": {
            "type": "object",
            "nullable": true
          }
        }
      },
      "ResponseStatusCode": {
        "type": "number",
        "description": "Response status code",
        "enum": [
          "SUCCESS (0)",
          "NOT_FOUND (1)",
          "GET_AUTH_URL_ERROR (2)",
          "OAUTH_CODE_CALLBACK_ERROR (3)",
          "AUTH_ERROR (4)",
          "USER_NOT_FOUND (5)",
          "UPDATE_USER_INFO_ERROR (6)",
          "Sign_Up_Email_Already_Used (7)",
          "Sign_Up_Error (8)",
          "Verify_Email_Error (9)",
          "Login_User_Error (10)",
          "Login_User_Email_Not_Verified (11)",
          "INVALID_USER_AVATAR_FILE (12)",
          "USER_AVATAR_FILE_TOO_LARGE (13)",
          "USER_AVATAR_NOT_FOUND (14)",
          "MISSING_OR_INVALID_PARAMETERS (15)",
          "EMAIL_NOT_VERIFIED (16)",
          "CLASSROOM_NAME_TOO_LONG (17)",
          "CLASSROOM_DESCRIPTION_TOO_LONG (18)"
        ]
      },
      "AuthURL": {
        "type": "object",
        "required": [
          "url"
        ],
        "properties": {
          "url": {
            "type": "string",
            "example": "https://accounts.google.com/o/oauth2/auth?client_id=test&redirect_uri=https%3A%2F%2Flocalhost%3A3000%2Flogin&scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fuserinfo.profile%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fuserinfo.email&response_type=code"
          }
        }
      },
      "AccessToken": {
        "type": "object",
        "required": [
          "token"
        ],
        "properties": {
          "token": {
            "type": "string",
            "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
          }
        }
      },
      "User": {
        "type": "object",
        "required": [
          "id",
          "username",
          "verifiedEmail",
          "modes",
          "locale",
          "createdAt",
          "updatedAt"
        ],
        "properties": {
          "id": {
            "type": "string",
            "example": "MongoDB ObjectId"
          },
          "username": {
            "type": "string",
            "example": "John Doe"
          },
          "verifiedEmail": {
            "type": "boolean",
            "example": true
          },
          "modes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/UserMode"
            },
            "example": [
              "Teacher",
              "Parent"
            ]
          },
          "locale": {
            "ref": "#/components/schemas/UserLocale"
          },
          "createdAt": {
            "type": "date",
            "example": "2022-01-01T00:00:00.000Z"
          },
          "updatedAt": {
            "type": "date",
            "example": "2022-01-01T00:00:00.000Z"
          }
        }
      },
      "AuthUser": {
        "type": "object",
        "description": "The authenticated user information",
        "required": [
          "id",
          "username",
          "email",
          "verifiedEmail",
          "modes",
          "connects",
          "locale",
          "createdAt",
          "updatedAt"
        ],
        "properties": {
          "id": {
            "type": "string",
            "example": "MongoDB ObjectId"
          },
          "username": {
            "type": "string",
            "example": "John Doe"
          },
          "email": {
            "type": "string",
            "example": "user@lipoic.org"
          },
          "verifiedEmail": {
            "type": "boolean",
            "example": true
          },
          "modes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/UserMode"
            },
            "example": [
              "Teacher",
              "Parent"
            ]
          },
          "connects": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ConnectAccount"
            }
          },
          "locale": {
            "ref": "#/components/schemas/UserLocale"
          },
          "createdAt": {
            "type": "date",
            "example": "2022-01-01T00:00:00.000Z"
          },
          "updatedAt": {
            "type": "date",
            "example": "2022-01-01T00:00:00.000Z"
          }
        }
      },
      "UserMode": {
        "type": "string",
        "description": "User mode",
        "enum": [
          "Student",
          "Teacher",
          "Parents"
        ],
        "example": "Teacher"
      },
      "EditUserInfoData": {
        "type": "object",
        "description": "The data for editing user info.",
        "properties": {
          "username": {
            "type": "string",
            "example": "Lipoic"
          },
          "modes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/UserMode"
            },
            "example": [
              "Students"
            ]
          },
          "locale": {
            "$ref": "#/components/schemas/UserLocale"
          }
        }
      },
      "UserLocale": {
        "type": "string",
        "description": "the user locale.",
        "enum": [
          "en-US",
          "zh-CN",
          "zh-TW"
        ],
        "example": "en-US"
      },
      "SignUpUserData": {
        "type": "object",
        "description": "The data for signing up user",
        "required": [
          "username",
          "email",
          "password"
        ],
        "properties": {
          "username": {
            "type": "string",
            "example": "Lipoic"
          },
          "email": {
            "type": "string",
            "example": "user@lipoic.org"
          },
          "password": {
            "type": "string",
            "example": "I'm a password"
          },
          "locale": {
            "$ref": "#/components/schemas/UserLocale"
          }
        }
      },
      "LoginUserData": {
        "type": "object",
        "description": "The data for logging in user.",
        "required": [
          "email",
          "password"
        ],
        "properties": {
          "email": {
            "type": "string",
            "example": "user@lipoic.org"
          },
          "password": {
            "type": "string",
            "example": "I'm a password"
          }
        }
      },
      "ConnectAccount": {
        "type": "object",
        "description": "The connect account of the user for save the third party OAuth info (e.g. google, facebook, etc.).",
        "required": [
          "accountType",
          "name",
          "email"
        ],
        "properties": {
          "accountType": {
            "$ref": "#/components/schemas/ConnectType"
          },
          "name": {
            "type": "string",
            "example": "John Doe"
          },
          "email": {
            "type": "string",
            "example": "user@lipoic.org"
          }
        }
      },
      "ConnectType": {
        "type": "string",
        "description": "The connect account type.",
        "enum": [
          "Google",
          "Facebook"
        ]
      },
      "CreateClassroomData": {
        "type": "object",
        "description": "The data for creating classroom.",
        "required": [
          "name",
          "description",
          "visibility"
        ],
        "properties": {
          "name": {
            "type": "string",
            "example": "Classroom A"
          },
          "description": {
            "type": "string",
            "example": "This is a classroom."
          },
          "visibility": {
            "$ref": "#/components/schemas/ClassroomVisibility"
          }
        }
      },
      "ClassroomVisibility": {
        "type": "string",
        "description": "The visibility of the classroom.",
        "enum": [
          "Public",
          "NonPublic",
          "Private"
        ]
      }
    }
  }
}